body {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  box-sizing: border-box;
  text-align: center;
  border-style: solid;
  width: 50%;
  margin: auto;
}

.recipe-content {
  box-sizing: border-box;
  border-style: solid;
  width: 25%;
  margin: auto;
  margin-top: 16px;
  background-color: beige;
  text-align: center;
}

.food-img {
  width: 100%;
}

.recipe-text {
  color: black;
  text-decoration: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}